:root {
  --primary-fem: #ff69b4;
  --secondary-fem: #ffa8d9;
  --primary-man: #26528C;
  --secondary-man: #3F76A6;
  --negro: #262626;
  --blanco: #f0f0f0;
  /* --fuente-principal: 'Outfit', sans-serif; */
  --fuente-principal: 'Merriweather', serif;
  --fuente-mecanografia: 'Manuale', serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
  margin: 0;
}
img {
  max-width: 100%;
}

[class*="contenedor"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
}
[class*="heading"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--negro);
  margin: 5rem 0;
}
