.headerIndex{    
    padding:  2rem 0;
    position: relative;
    z-index: 10;
    background: rgb(38,82,140);    
}

@media(min-width:768px){
    .headerIndex{      
        padding:  5rem 0;
        position: absolute; 
        top: 0;
        right: 10%;
        background: transparent;
    }
}

.header{
    display: flex;
    justify-content: center;
    padding:  5rem 0;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.barra{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width:768px){
    .barra{
        flex-direction: row;
        justify-content: space-between;        
        display: flex;
    }
}

.navegacion{
    /*margin-top: 5rem;*/
    display: flex;    
    position: relative;
    width: 80%;
    justify-content: center;
    z-index: 1;
}

@media(min-width:768px){
    .navegacion{
        margin-top: 0;
        gap: 2rem;
        width: auto;
        justify-content: space-between;
    }
}

.navegacion a{
    color: var(--blanco);
    width: max-content;
    text-decoration: none;
    font-size:  1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: .5rem;
    transition-property: background-color;
    transition-duration: .3s;
    background-color: var(--primary-man);
}

.navegacion a:hover{
    background-color: var(--secondary-man);
    /* color: var(--blanco); */
    transition-property: background-color;
    transition-duration: .3s;
    
}

@media(min-width:768px){
    .navegacion a{
        color: var(--negro);
        background-color: transparent;
    }
    
    .navegacion a:hover{
        color: var(--negro);
        background-color: #efefef;
    }
}

.btnRegister_fem{
    all: unset;    
    text-decoration: none;
    padding: 2rem;
    font-size:  1.4rem;
    font-weight: 700;
    background-color: transparent !important;
    color: #efefef !important;
    text-transform: uppercase;

}

.btnRegister_man{
    all: unset;    
    text-decoration: none;
    padding: 2rem;
    font-size:  1.4rem;
    font-weight: 700;
    background-color: transparent !important;
    color: #efefef !important;
    text-transform: uppercase;

}

.btnRegister_fem:hover{
    cursor: pointer;
    background-color: var(--blanco) !important;
    color: var(--primary-fem) !important;

}

.btnRegister_man:hover{
    cursor: pointer;
    background-color: var(--blanco) !important;
    color: var(--primary-man) !important;

}

@media(min-width:768px){
    .btnRegister_man{
        background-color: var(--primary-man) !important;
    }
    
    .btnRegister_fem{
        background-color: var(--primary-fem) !important;
    }
    
}

.iconLogOut{
    cursor: pointer;
}

.iconLogOut svg{
    color: var(--blanco);    
}

@media(min-width:768px){
    .iconLogOut svg{
        color: var(--negro);
    }
}