.formulario {
    border: none;
  }
  
  .googleBtn{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  @media(min-width:768px){
    .container{
      background: rgb(38,82,140);
      background: -moz-linear-gradient(180deg, rgba(38,82,140,1) 56%, rgba(63,118,166,1) 100%);
      background: -webkit-linear-gradient(180deg, rgba(38,82,140,1) 56%, rgba(63,118,166,1) 100%);
      background: linear-gradient(180deg, rgba(38,82,140,1) 56%, rgba(63,118,166,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#26528c",endColorstr="#3f76a6",GradientType=1);
    }
  }